# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
beautifulsoup4
bs4
certifi
charset-normalizer
python-dotenv
click
colorama
deepchem==2.7.1
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
pandas
Pillow
PubChemPy
python-dateutil
pytz
rdkit
regex
requests
scikit-learn==1.2.2
scipy
tensorflow
six
soupsieve
sympy
threadpoolctl
torch
tqdm
typing_extensions
urllib3
Werkzeug
zipp
protobuf>=3.19.3,==3.*
