beautifulsoup4
bs4
certifi
charset-normalizer
python-dotenv
click
colorama
deepchem==2.7.1
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
pandas
Pillow
PubChemPy
python-dateutil
pytz
rdkit
regex
requests
scikit-learn
scipy
tensorflow
six
soupsieve
sympy
threadpoolctl
torch
tqdm
typing_extensions
urllib3
Werkzeug
zipp